# OpenSky Network Credentials
# Get credentials at: https://opensky-network.org/
# Username and password are your OpenSky account credentials
OPENSKY_USERNAME=soyjorgefinelli-api-client
OPENSKY_PASSWORD=wx6dhhivc203SnYuAggy3VxBd5CnNUkn

# OpenSky API Base URL (usually doesn't change)
OPENSKY_API_URL=https://opensky-network.org/api
